# Django Settings
SECRET_KEY=gere-uma-chave-secreta-com-python-c-from-django.core.management.utils-import-get_random_secret_key-print-get_random_secret_key
DEBUG=false
ALLOWED_HOSTS=IP_DA_VPS_AQUI

# Database - Supabase PostgreSQL
DATABASE_URL=postgresql://postgres:SUA_SENHA@db.PROJETO.supabase.co:5432/postgres

# Gemini AI (opcional - para recursos de IA)
GEMINI_API_KEY=sua-api-key-aqui
