<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="keywords" content="My Dashboard">
        <meta name="description" content="My Dashboard">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://cdn.tailwindcss.com"></script>
        <title>Document</title>
    </head>
    <body class=" bg-slate-900 w-full h-screen grid grid-cols-[auto_1fr]">
        <aside class="w-full p-3 text-white flex flex-col justify-start gap-4  border-r border-slate-700 min-w-[100px]">
            <a href="{% url 'index' %}" class="font-semibold hover:text-slate-400">Home</a>
            <a href="{% url 'index' %}" class="font-semibold hover:text-slate-400">Registros</a>
        </aside>
        <div class="p-6 text-white">
            {% block content %}
            {% endblock content %}
        </div>
    </body>
</html>
