{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="keywords" content="My Dashboard" />
    <meta name="description" content="My Dashboard" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Darker+Grotesque:wght@300..900&family=SUSE:wght@100..800&display=swap"
      rel="stylesheet"
    />
    <link href="{% static 'css/custom.css' %}" rel="stylesheet" />
    <script src="https://cdn.tailwindcss.com"></script>
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
      rel="stylesheet"
    />
    <title>Dashboard</title>
  </head>
  <body class="bg-slate-900 w-full h-screen grid lg:grid-cols-[auto_1fr]">
    <aside
      class="h-fit lg:h-full w-full lg:pt-10 p-3 text-white flex flex-wrap lg:flex-col justify-center lg:justify-start gap-4 border-r border-slate-700 min-w-[190px]"
    >
      <a
        href="{% url 'expense_report' %}"
        class="font-semibold flex items-center gap-2 hover:bg-slate-700 px-4 py-2 rounded-lg {% if request.path == '/' %}bg-blue-800 font-semibold hover:bg-blue-800{% endif %}"
      >
        <i class="fa-solid fa-house text-xs"></i>
        <span class="text-sm hidden lg:block">Dashboard</span>
      </a>
      <a
        href="{% url 'register_expense' %}"
        class="font-semibold flex items-center gap-2 hover:bg-slate-700 px-4 py-2 rounded-lg {% if request.path == '/register/expense' %}bg-blue-800 font-semibold hover:bg-blue-800{% endif %}"
      >
        <i class="fa-solid fa-coins text-xs"></i>
        <span class="text-sm hidden lg:block">Register Expense</span>
      </a>
      <a
        href="{% url 'register_income' %}"
        class="font-semibold flex items-center gap-2 hover:bg-slate-700 px-4 py-2 rounded-lg {% if request.path == '/register/income' %}bg-blue-800 font-semibold hover:bg-blue-800{% endif %}"
      >
        <i class="fa-solid fa-coins text-xs"></i>
        <span class="text-sm hidden lg:block">Register Income</span>
      </a>
      <a
        href="{% url 'csv_import' %}"
        class="font-semibold flex items-center gap-2 hover:bg-slate-700 px-4 py-2 rounded-lg {% if 'csv-import' in request.path %}bg-blue-800 font-semibold hover:bg-blue-800{% endif %}"
      >
        <i class="fa-solid fa-file-csv text-xs"></i>
        <span class="text-sm hidden lg:block">CSV Import</span>
      </a>
      <a
        href="/admin"
        class="font-semibold flex items-center gap-2 hover:bg-slate-700 px-4 py-2 rounded-lg"
      >
        <i class="fa-solid fa-user-shield text-xs"></i>
        <span class="text-sm hidden lg:block">Admin</span>
      </a>
    </aside>
    <main class="p-6 text-white">
      {% block content %} {% endblock content %}
    </main>
  </body>
</html>
